NUXT_API_BASE=http://localhost:8080

NUXT_PUBLIC_API_BASE=http://localhost:8080


NUXT_WEB_SITE_ID=123e4567-e89b-12d3-a456-426614174000
NUXT_PUBLIC_WEB_SITE_ID=123e4567-e89b-12d3-a456-426614174000

NUXT_PUBLIC_DEFAULT_LOCALE=zh-tw
NUXT_PUBLIC_DEFAULT_SLUG=home
NUXT_PUBLIC_LOGIN_URL=http://localhost:5174